[Desktop Entry]
Name=Matte Black
Comment=Omarchy matte-black look and feel
X-KDE-PluginInfo-Author=Duncan Jones
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=com.omarchy.matteblack
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
